.main-nav {
  //position: relative;
  //z-index: 10;
  //background-color: #283645;
}

/*.main-nav__toggle {
  position: absolute;
  top: 0;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 15px 10px;
  background: 0 0;
  border: 0;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #ffffff;
  }
}

.visually-hidden::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 10px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}*/


/*.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(29, 38, 50, 0.3);
  box-shadow: 0 8px 0 0 rgba(28, 39, 50, 0.3), 0 16px 0 0 rgba(29, 38, 50, 0.3);
}*/

/*.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(28, 39, 50, 0.3);
  }
}*/

// первый уровень

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {

}

.main-nav__link {
  display: block;
  padding: 0;
  color: white;
  text-decoration-line: none;
  text-transform: uppercase;
}

// Второй уровень

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .main-nav__dropdown {
    width: 960px;
  }
}

.site-list {
  width: 630px;
}
