.page-header {
  min-width: 320px;
  z-index: 11;
  height: 725px;
}
.page-header__inner {
  padding-left: 20px;
  padding-right: 20px;
}
.page-header__top--change {
  background-color: rgba(29, 38, 49, 0.5);
}

