.page-header {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  background-color: #283645;
  background-repeat: no-repeat;
  background-position: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.page-header__inner {
  display: block;
  //*width: 100%;*//
  //*margin: 0 auto;*//
  padding-left: 20px;
  padding-right: 20px;
}
