.page-panel {
  height: 65px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: flex-start;
  background-color: rgb(30, 39, 51, 0.5);
}

.page-panel__logo-img {
  width: 74px;
  height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
picture {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .page-panel {
    height: 110px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: flex-start;
    background-color: rgb(30, 39, 51, 0.5);
  }

  .page-panel__logo-img {
    width: 150px;
    height: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  .page-panel {
    height: 110px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: flex-start;
    background-color: rgb(30, 39, 51, 0.5);
  }

  .page-panel__logo-img {
    width: 150px;
    height: 45px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
  }

}
