.page-panel {
  min-width: 320px;
  margin-bottom: 400px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(29, 38, 49 0.5);
}

.page-panel__logo-img {
  width: 74px;
  height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
