.post-content {
  border: solid #00ee00;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-content__inner {
  padding-left: 20px;
  padding-right: 20px;
}

.post-content__list {
  display: flex;
  width: 245px;
}

@media (min-width: 768px) {
  .post-content {
    border: solid #00ee00;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .post-content__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .post-content__list {
    display: flex;
    width: 245px;
  }
}

@media (min-width: 1200px) {
  .post-content {
    border: solid #00ee00;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
